*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(188, 184, 184);
}

/* Inizio Header*/

header{
    height: 75px;
    padding: 15px 0;
    margin-bottom: 40px;
    background-color: white;
}

header img{
    height: 100%;
    vertical-align: middle;
    margin: 0px 5px 0px 20px;
}

header span{
    font-size: 34px;
    font-weight: 800;
    vertical-align: middle;
}
/*Fine Header*/

/*Inizio Main*/


/*Inzio container*/

.container{
    max-width: 991px;
    margin: 0 auto;
    height: 600px;
    border-radius: 10px;
    background-color: white;
}

.top{
    height: 75px;
    line-height: 75px;
    padding: 0 50px;
    border-bottom: 1px solid rgb(188, 184, 184);;
}

.tasks{
   padding: 20px 50px;
    background-color: white;
}
/*Inizio Pulsanti*/

.btn{
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-filled{
    border: 1px solid rgb(71, 169, 219);
    background-color: rgb(71, 169, 219);
    color: white;
}

.btn-empty{
    background-color: transparent;
    border: 1px solid grey;
}
/*Fine Pulsanti*/
/*Inzio Lista*/

ul{
    list-style-type: none;
}

li{
    padding: 10px 0;
}

li .circle{
    padding: 3px 5px;
    border-radius: 50%;
    margin-right: 10px;

}

.red{
    border: 1px solid red;
    color: red;
}

.green{
    border: 1px solid green;
    color: green;
}

.label{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
}

.bg-lightblue{
    background-color:rgb(71, 169, 219)  ;
}

.bg-coral{
    background-color: coral;
}
.bg-darkred{
    background-color: darkred;
}

.bg-green{
    background-color: greenyellow;
}
/*Fine Lista*/

/*Fine container*/

/*Fine Main*/

